$white: #fff;
$bg-color: #fff;

$header-bg-color: $bg-color;
$content-bg-color: $bg-color;
$footer-bg-color: $bg-color;

$smtp-bg-color: $bg-color/*#2B9CF9*/
/*#f9f9f9*/
;
$imap-bg-color: $bg-color/*#e9e9e9*/
/*#A96DAD*/
;

$contentbox-bg-color: #fcfcfc;

$font-color: #72777c;
$border-color: #eee;
$light-border-color: #E1E1E1;
