@import 'color-palette';

$accent-color: #0b66fa;
$form-max-width: 360px;
$phi: 1.618;
$contentbox-bg-color: white;

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin contentbox($background-color: #e3ddd9) {

    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    background: $white;
}

@mixin custom-card($is_input_element: false) {

    @if $is_input_element == 'input-element' {
        background-color: $contentbox-bg-color !important;
        padding: 6px 5px 3px 5px;
        margin: 1px 1px 1px 1px;

        &:hover {

        }

        &.active,
        &.has-content {
            background: $contentbox-bg-color !important;
            transition: all 0.1618s ease-in-out;
        }

        input,
        textarea,
        &.input-field-is-active input,
        &.input-field-is-active textarea,
        &.has-content input,
        &.has-content textarea {
            transition: all 0.1618s ease-in-out;

            &:active,
            &:focus {
                transition: all 0.1618s ease-in-out;
            }
        }
    } @else {
        $dir: -135deg;
        $color-1: darken($content-bg-color, 0.3%);
        $color-stop-1: '';
        $color-2: lighten($content-bg-color, 0.8%);
        $color-stop-2: 50%;
        background: -webkit-linear-gradient($dir, $color-stop-1 $color-1, $color-stop-2 $color-2) !important;
        background: linear-gradient($dir, $color-1, $color-stop-2, $color-2) !important;
    }
}

@mixin triangle($direction, $sizeH, $sizeV, $color) {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    -moz-transform: scale(.9999);

    @if $direction == top {
        border-width: 0 $sizeV $sizeH $sizeV;
        border-color: transparent transparent $color transparent;
    }
    @if $direction == bottom {
        border-width: $sizeV $sizeH 0 $sizeV;
        border-color: $color transparent transparent transparent;
    }
    @if $direction == left {
        border-width: $sizeV $sizeH $sizeV 0;
        border-color: transparent $color transparent transparent;
    }
    @if $direction == right {
        border-width: $sizeV 0 $sizeV $sizeH;
        border-color: transparent transparent transparent $color;
    }
    @if $direction == topright {
        border-width: 0 $sizeH $sizeV 0;
        border-color: transparent $color transparent transparent;
    }
    @if $direction == bottomright {
        border-width: 0 0 $sizeH $sizeV;
        border-color: transparent transparent $color transparent;
    }
    @if $direction == bottomleft {
        border-width: $sizeH 0 0 $sizeV;
        border-color: transparent transparent transparent $color;
    }
    @if $direction == topleft {
        border-width: $sizeH $sizeV 0 0;
        border-color: $color transparent transparent transparent;
    }
}

@mixin font-size($unitless-px-size: 16) {
    font-size: ceil($unitless-px-size) + 0px !important;
    //font-size: $unitless-px-size/10 + 0rem !important;
    line-height: ceil($unitless-px-size/10*1.5) + 0rem !important;
}
