<?xml version="1.0"?>
<phpunit
	bootstrap="./tests/integration/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	stopOnRisky="false"
	timeoutForSmallTests="1"
	timeoutForMediumTests="10"
	timeoutForLargeTests="60"
	>
	<php>
		<const name="BONAIRE_TESTS" value="1"/>
        <const name="DB_USER" value="PLACEHOLDER"/>
        <const name="DB_NAME" value="wordpress_test"/>
        <const name="DB_PASSWORD" value="PLACEHOLDER"/>
        <const name="DB_HOST" value="127.0.0.1"/>
        <const name="DB_CHARSET" value="utf8"/>
        <const name="DB_COLLATE" value="utf8_general_ci"/>
        <const name="DB_TABLE_PREFIX" value="wptests_"/>
        <var name="name" value="bonaire"/>
        <var name="domain" value="bonaire"/>
        <var name="version" value="1.0.0"/>
	</php>
	<testsuites>
		<testsuite name="Integration">
			<directory prefix="test-" suffix=".php">tests/integration/</directory>
		</testsuite>
	</testsuites>
</phpunit>
