@import '../mixins';

#dashboard-widgets {

    #bonaire_dashboard_widget {

        .inside {
            box-sizing: border-box;
            display: block;
            padding: 0;
            background-color: $white;
            border: 1px solid rgb(238, 238, 238);
            margin: 0 0 0 0;
            overflow: hidden;
            width: 100%;
            max-width: 100%;

            &:last-of-type {
                margin-bottom: 0;
            }

            .subject {
                display: block;
                padding-top: 4px;
            }

            ul {
                margin: 0 0 0 0;
            }

            ul.subsub {
                @include flexbox();
                padding: 12px 12px 6px 12px !important;
                background-color: $white;

                li {
                    color: #ddd;

                    a {
                        padding: 1px 4px 1px 7px;
                    }
                }

                .empty-link {
                    color: #72777c;
                }

                .count {
                    color: #72777c;
                }
            }

            li.message {
                @include flexbox();
                overflow: hidden;
                padding: 12px;
                border-bottom: 1px solid $border-color;
                min-height: 105px;
                height: 105px;
                max-height: 105px;
                box-sizing: border-box;
                background-color: #f9f9f9;
                margin-bottom: 0;

                &:first-of-type {
                    border-top: unset;
                }

                a.message-icon {

                    span {
                        display: inline-block;
                        width: 50px;
                        height: 50px;
                        overflow: hidden;
                        background-color: $contentbox-bg-color;
                        border: 1px solid $border-color;

                        &:before {
                            @include font-size(36);
                            //line-height: 3.6rem !important;
                            position: relative;
                            top: 8px;
                            left: -1px;
                        }
                    }
                }

                .dashboard-message-wrap {
                    box-sizing: border-box;
                    display: inline-block;
                    position: relative;
                    padding-left: 10px;

                    p {
                        box-sizing: border-box;
                        padding: 0 0 0 0;
                        margin: 0 0 0 0;
                    }

                    .comment-meta {
                        box-sizing: border-box;
                        margin: 0 0 0 0;

                        ~ p {
                            margin: 0 0 0 0;
                        }

                        .meta {
                            font-style: italic !important;
                        }
                    }
                }

                &:last-of-type {
                    margin-bottom: 0;
                }

                blockquote {
                    box-sizing: border-box;
                    margin: 0 0 0 0;

                    p {
                        margin: 0 0 0 0;
                    }
                }
            }

            .message.no-message,
            .message.no-account {
                display: inline-block;
                overflow: hidden;
                padding: 0 0;
                margin: 0 0;
            }

            .no-activity {
                display: block;
                overflow: hidden;
                text-align: center;

                .smiley {
                    margin: 0 0 0 0;

                    &:before {
                        color: #72777c;
                        content: "\f328";
                        font: normal 120px/1 dashicons;
                        speak: none;
                        display: block;
                        margin: 0 5px 0 0;
                        padding: 0;
                        text-indent: 0;
                        text-align: center;
                        position: relative;
                        -webkit-font-smoothing: antialiased;
                        text-decoration: none !important;
                    }
                }

                .email {
                    color: #0073aa;
                    width: auto;
                    text-align: center;
                    display: block;
                    margin: 0 auto !important;
                    overflow: hidden;

                    &:hover {
                        color: #00a0d2;
                        cursor: pointer;
                    }

                    &:before {
                        content: "\f465";
                        font: normal 120px/1 dashicons;
                        speak: none;
                        margin: 0 5px 0 0;
                        padding: 0;
                        text-indent: 0;
                        text-align: center;
                        position: relative;
                        -webkit-font-smoothing: antialiased;
                        text-decoration: none !important;
                    }
                }

                a.message-text {
                    display: inline-block;
                    width: auto;
                    color: #0073aa;
                    padding-bottom: 12px;
                    margin: 0 auto !important;

                    &:hover {
                        color: #00a0d2;
                    }
                }
            }

            .message-text {
                color: #72777c;
                font-size: 16px;
                text-align: center;
            }
        }
    }
}
