@import '../mixins';

#poststuff {

    .bonaire-form-meta-box {

        h2 {

            span.lighter {
                @include font-size(12);
                font-weight: 300 !important;
            }
        }
    }
}

.bonaire-reply-form-container {
    display: block;
    overflow: hidden;
    background-color: #f9f9f9;
    border: 1px solid rgb(229, 229, 229);
    padding: 12px;
}

#bonaire_reply_form {

    > div {
        @include flexbox();
    }

    label {
        height: 32px;
        flex-basis: 100px;
        flex-shrink: 0;
        flex-grow: 0;
        padding: 10px 5px 3px 5px;
    }

    input:not(.bonaire-submit-reply-button) {
        height: 32px;
        flex-shrink: 1;
        flex-grow: 1;
        padding: 6px 5px 3px 5px;
        margin-bottom: 12px;
    }

    textarea {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    input.bonaire-submit-reply-button {
        margin-top: 12px;
        float: right;
    }
}
