@import '../mixins';

$class-settings-container: 'bonaire-settings';

.#{$class-settings-container} {
    color: $font-color;
    display: block;
    width: 100%;
    max-width: $form-max-width !important;
}

.settings-page-title {
    display: inline-block;
    @include font-size(23);
    font-weight: 400;
    margin: 10px 0 14px 0;
    padding: 9px 0 4px 0 !important;
    //line-height: 29px;
}

#connection_details {
    box-sizing: content-box;
    @include contentbox();
    @include font-size(14);
    width: auto;
    max-width: 84.0rem;

    margin: 0 20px 0 0;
    display: block;

    .header {
        display: block;
        box-sizing: border-box;
        overflow: hidden;
        background-color: $header-bg-color;
        padding: 1.6rem;
        clear: both;
        border-bottom: 1px solid $border-color;

        &.settings-form-title h3 {
            width: auto;
            display: inline-block;
            @include font-size(14);
            margin: 0;
            padding: 4px 0 4px 0;
            font-weight: 600;
            //line-height: 20px !important;
            float: left;
        }

        a.information {
            display: inline-block;
            padding: 4px 0 4px 0;
            float: right;
        }
    }

    .content {
        display: block;
        box-sizing: border-box;
        overflow: hidden;
        background-color: $content-bg-color;

        .content-section-title {
            @include font-size(16);
            margin-top: 0;
            margin-bottom: 8px;
        }

        > div {
            margin-top: 0;
            margin-bottom: 0;
        }

        .wpcf7,
        .smtp,
        .imap {
            display: block;
            box-sizing: border-box;
            margin: 2.0rem 1.6rem 3.0rem 1.6rem;

            h5 {
                display: inline-block;
            }

            > div {
                @include flexbox();
                margin-bottom: 1.2rem;
            }

            .status-indicator {
                box-sizing: border-box;
                display: inline-block;
                margin-left: 6px;
                position: relative;
                top: 2px;


                label {

                }

                i {
                    font-family: 'dashicons';
                    @include font-size(14);
                    //line-height: 1.4rem !important;
                    display: inline-block;
                    content: "";
                    box-sizing: border-box;
                    width: 16px;
                    height: 16px;
                    overflow: hidden;
                    border-radius: 50%;
                    border: 1px solid $border-color;

                    &:before {
                        width: 16px;
                        height: auto;
                        color: $white;
                        font-family: 'dashicons';
                        @include font-size(10);
                        //line-height: 1.4rem !important;
                        overflow: hidden;
                        position: relative;
                        top: -2px;
                        left: 0;
                    }
                }

                &.red {

                    i {
                        background-color: #F03434;

                        &:before {
                            content: "\f335";
                        }
                    }
                }

                &.orange {

                    i {
                        background-color: #FFCB05;

                        &:before {
                            content: "\f460";
                        }
                    }
                }

                &.green {

                    i {
                        background-color: #26C281;

                        &:before {
                            content: "\f147";
                        }
                    }
                }

                &.hidden i {
                    display: none;
                }
            }
        }

        .smtp {
            box-sizing: border-box;
            border-top: 1px solid $border-color;
            padding-top: 2.0rem;
            background-color: $smtp-bg-color;
        }

        .imap {
            border-top: 1px solid $border-color;
            background-color: $imap-bg-color;
            display: block;
            box-sizing: border-box;
            padding-top: 2.0rem;

            /*display: block;
            box-sizing: border-box;
            margin: 2.0rem 1.6rem 3.0rem 1.6rem;*/
        }

        .buttons-container {
            box-sizing: border-box;
            width: 100%;
            padding: 0 1.6rem;
            overflow: hidden;
        }

        .buttons {
            border-top: 1px solid $border-color;
            box-sizing: border-box;
            display: block;
            width: 100%;
            float: unset;
            overflow: hidden;
            padding: 3.2rem 0 2.0rem 0;

            .reset-button-container {
                display: inline-block;
                box-sizing: border-box;
                padding-right: 160px;
            }

            .submit-button-container {
                display: inline-block;
                box-sizing: border-box;
            }
        }
    }

    .footer {
        border-top: 1px solid $border-color;
        @include flexbox();
        text-align: center;
        box-sizing: border-box;
        overflow: hidden;
        background-color: $footer-bg-color;
        padding: 3.2rem 1.6rem 2.0rem 1.6rem;
        margin: 6.0rem auto 1.0rem auto;

        .button-container {
            padding-right: 48px;

            &:last-of-type {
                padding-right: 0;
            }
        }
    }

    label {
        flex-basis: 16rem;
        pointer-events: none;
        padding-top: 6px;
    }

    .bonaire-tooltip-symbol {

        i {
            @include font-size(14);
            //line-height: 1.4rem !important;
            padding-top: 0;
            position: relative;
            left: -3px;

            &:before {
                color: #ebebeb;
            }

            &:hover {

                &:before {
                    color: $accent-color;
                }
            }
        }
    }

    input:not([type="submit"]),
    select,
    textarea {
        flex-basis: 24rem;
        @include custom-card('input-element');
        border-radius: 5px;
    }

    .button-container {
        display: block;

        label {

        }

        input {
            flex-basis: auto;
            flex-shrink: 0;
            flex-grow: 0;
        }
    }
}
